# environnement setup

.env
.venv/

# python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# uv
.python-version

# os

.DS_Store
Thumbs.db

# tcode runtime data
~/.tcode/

# project specific
*.docx
